<section class="signup-form" [class.mat-elevation-z2]="true">
  <form #f="ngForm" fxLayout="column" fxLayoutAlign="center">
    <h1>Add a company!</h1>
      <div class="container"  
        fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
        <input 
          type="text" 
          matInput 
          placeholder="Name"
          ngModel
          name="name"
          required
          #fromInput="ngModel">
        <mat-error>
          Field can not be empty!
        </mat-error>
        </mat-form-field>
        <button 
        type="submit" 
        mat-raised-button 
        color="primary"
        [disabled]="f.invalid">Add</button>
      </div>    
  </form>
</section>
