/*
$primary-color-dark:   #1976D2
$primary-color:        #2196F3
$primary-color-light:  #BBDEFB
$primary-color-text:   #FFFFFF
$accent-color:         #FF5722
$primary-text-color:   #212121
$secondary-text-color: #757575
$divider-color:        #BDBDBD
*/

$fly-color--grey: #808080;
$fly-color--red: #e74c3c;
$fly-color--lightgrey: #d4d4d4;
$fly-color--white: #fff;

// MEDIA QURIES
$bp-largest: 75em;  // 1200px;
$bp-large: 68.75em; // 1100px;
$bp-medium: 56.25em; // 900px;
$bp-small: 35.5em; // 550px;
