<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>supervised_user_circle</mat-icon>
    <span class="nav-caption">Sign up</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="/admin" (click)="onClose()">
    <mat-icon>flight_takeoff</mat-icon>
    <span class="nav-caption">Flights</span>
  </a>
  <a mat-list-item routerLink="/addflight" (click)="onClose()">
    <mat-icon>flight_takeoff</mat-icon>
    <span class="nav-caption">Add Flight</span>
  </a>
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
