mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

main {
  margin: 0 10px; 
}

mat-sidenav {
  min-width: 150px;
}

// mat-sidenav-content {
//   background-color: #3498db;
// }
