<table mat-table [dataSource]="flights">
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let flight"> {{flight.id}} </td>
  </ng-container>

  <ng-container matColumnDef="Company">
    <th mat-header-cell *matHeaderCellDef> Company </th>
    <td mat-cell *matCellDef="let flight"> {{flight.company}} </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let flight"> {{flight.name}} </td>
  </ng-container>

  <ng-container matColumnDef="From">
    <th mat-header-cell *matHeaderCellDef> From </th>
    <td mat-cell *matCellDef="let flight"> {{flight.depCity}} </td>
  </ng-container>

  <ng-container matColumnDef="From Code">
    <th mat-header-cell *matHeaderCellDef> From Code</th>
    <td mat-cell *matCellDef="let flight"> {{flight.depCode}} </td>
  </ng-container>

  <ng-container matColumnDef="To">
    <th mat-header-cell *matHeaderCellDef> To </th>
    <td mat-cell *matCellDef="let flight"> {{flight.arrCity}} </td>
  </ng-container>

  <ng-container matColumnDef="To Code">
    <th mat-header-cell *matHeaderCellDef> To Code</th>
    <td mat-cell *matCellDef="let flight"> {{flight.arrCode}} </td>
  </ng-container>

  <ng-container matColumnDef="Departure Date/Time">
    <th mat-header-cell *matHeaderCellDef> Departure Date</th>
    <td mat-cell *matCellDef="let flight"> {{flight.depTime | date}} </td>
  </ng-container>

  <ng-container matColumnDef="Arrival Date/Time">
    <th mat-header-cell *matHeaderCellDef> Arrival Date</th>
    <td mat-cell *matCellDef="let flight"> {{flight.arrTime | date}} </td>
  </ng-container>

  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let flight"> {{flight.price}} </td>
  </ng-container>

  <ng-container matColumnDef="Duration">
    <th mat-header-cell *matHeaderCellDef>Duration</th>
    <td mat-cell *matCellDef="let flight"> {{flight.duration}} </td>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef>Actions </th>
    <td mat-cell *matCellDef="let flight">
      <button 
        mat-icon-button matTooltip="Click to Edit" 
        class="iconbutton" color="primary"
        (click)="editFlight(flight)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      <button 
        mat-icon-button matTooltip="Click to Delete" 
        class="iconbutton" color="warn"
        (click)="deleteFlight(flight)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
