<div fxLayout fxLayoutAlign="center" class="order-page">
  <!-- <div *ngIf="order">
    <section 
      class="order-item" 
      fxLayout fxLayoutAlign="center">
      <mat-card class="example-card">
        <mat-card-header fxLayout fxLayoutAlign="start center">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
            {{order.flights[0].name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <div 
              class="card-row" 
              fxLayout="row" 
              fxLayoutAlign="space-between">
              <p class="bold">{{ order.depTime | date: 'shortTime' }}</p>
              <p class="bold">{{ order.arrTime | date: 'shortTime' }}</p>
            </div>
            <div 
              class="card-row" 
              fxLayout="row" 
              fxLayoutAlign="space-between">
              <p>{{ order.depCity }}</p>
              <p>{{ order.arrCity }}</p>
            </div>
            <div 
              class="card-row" 
              fxLayout="row" 
              fxLayoutAlign="end">
              <p>{{ order.price }}</p>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div *ngFor="let flight of order.flights">
            <div 
              class="card-row" 
              fxLayout="row" 
              fxLayoutAlign="space-between">
              <p class="bold">{{ flight.name }}</p>
              <p class="bold">{{  flight.price }} ₽</p>
            </div>
            <div 
              class="card-row" 
              fxLayout="row" 
              fxLayoutAlign="space-between">
              <p>{{ flight.depCode }}</p>
              <p>{{  flight.arrCode }}</p>
            </div>
            <div 
              class="card-row" 
              fxLayout="row" 
              fxLayoutAlign="space-between">
              <p>{{ flight.depCity }}</p>
              <p>{{  flight.arrCity }}</p>
            </div>
          </div>
    </mat-card-content>
        
      </mat-card>
    </section>
    </div> -->
  <div *ngIf="!orderBooked">
    <mat-card class="example-card">
      <mat-card-content>
        <form 
          fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
          #f="ngForm" (ngSubmit)="onSubmit(f)">
          <h1>Flight Booking</h1>
          <mat-form-field>
          <input 
            type="email" 
            matInput 
            placeholder="Email"
            ngModel
            name="email"
            email
            required
            #emailInput="ngModel">
          <mat-error *ngIf="emailInput.hasError('required')">
            Field can not be empty!
          </mat-error>
          <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid!</mat-error>
          </mat-form-field>
          <mat-form-field>
          <input 
            type="text" 
            matInput 
            placeholder="First Name"
            ngModel
            name="fName"
            required
            #fNameInput="ngModel">
          </mat-form-field>
          <mat-form-field>
          <input 
            type="text" 
            matInput 
            placeholder="Second Name"
            ngModel
            name="sName"
            required
            #sNameInput="ngModel">
          </mat-form-field>
          <mat-form-field>
          <input 
            type="text" 
            matInput 
            placeholder="Passport data"
            ngModel
            name="passport"
            required
            #passportInput="ngModel">
          </mat-form-field>
          <mat-form-field>
          <input 
            type="text" 
            matInput 
            placeholder="Loyalty card"
            ngModel
            name="loyalty"
            required
            #loyaltyInput="ngModel">
          </mat-form-field>
          <button 
          type="submit" 
          mat-raised-button 
          color="primary"
          [disabled]="f.invalid">Next</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="orderBooked">
      <h4>
        Registration completed!
      </h4>
      <p>
        You succesfully registered to flight from {{ order.depCity }} to {{ order.arrCity }}.
      </p>
      <p>
        Booked for: {{ client.fName }} {{ client.sName }}
      </p>
      <p>
        Passport data: {{ client.passport }}
      </p>
  </div>
</div>





