.example-card {
  min-width: 400px;
  @media only screen and (max-width: 375px) { 
    min-width: 300px;
    max-width: 350px;
  }; 
}

.example-header-image {
  background-image: url('../../../assets/s7-logo.png');
  background-size: cover;
}
.bold {
  font-weight: 600;
}

.route-item {
  padding-top: 20px;
}

.order-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
